/** {
	border: solid black 2px;
}*/

.navbar {
	/*border: 2px solid blue;*/
}

.container-fluid {
	/*border: 2px solid blue;	*/
}

.navClass {
	border-radius: 0 !important ;
}

.image1 {
	width: 100vw;
}

.marketing {
	text-align: center;
	margin-bottom: 20px;
}

.devide {
	margin: 80px 0;
}

hr {
	border: solid 1px #eee;
}

.spacing {
	margin-bottom: 20px;
}

.thumbnail img {
	width: 100%;
}
.containMargin {
	margin-top: 70px
}
/*.divd {
	position: relative;
	right: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}*/